html,body {
   height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
}

body {
    padding-top: 60px;
    margin: 0px;
    width: 100%;
    color: black;            
}

.content {
    min-height: calc(100vh - 100px);
}

.footer{
    height: 40px;
}

.RatingClass {
    text-align: center;
    display: block;
    margin: auto;
    text-align: center;
    max-width: 99%;
    height: 16vh;
    border: none;
    margin: auto;
}

.ratingLabel {
    display: inline-block;
    vertical-align: middle;
    float: none;
    font: bold 16vh magneto,verdana;
}

.btnClass {
    display: inline-block;
    height: 37vh;
    /*opacity: 1;*/
}

.btnImage {
    max-height: 100%;
    max-width: 100%;
}


#tbEventKey {
    text-transform: uppercase;
}

.homepageBtn {
    width: 100%;
    text-align: center;
    display: inline-block;
    margin: auto;
    float: none;
    font: bold 4vh verdana;
}

.homepageText {

    max-width:100%;
    width: 100%;
        margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: inline-block;
    margin: auto;
    float: none;
    font: bold 4vh verdana;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
    font: bold 20vh;
}

.navbar{
    background-color: #022554;
    color: #fff;
    font-family: "Open Sans";
    font-family: HelveticaNeue-Light,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
}

.ratingLabel{
    font-size: 12vh;
}

.footer{
    text-align: center;
    vertical-align: middle;
    background-color: #022554;
    width: 100%;
    color: #fff;
    font-family: "Open Sans";
    font-family: HelveticaNeue-Light,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
}